/* FOOTER STYLESHEET */

$footer-container-background-color: #fff;
$footer-container-height: 263px;
$footer-li-padding-left: 10px;

footer {
  .container {
    background-color: $footer-container-background-color;
    height: $footer-container-height;
  }


  li {
    display: inline;
    padding-left: $footer-li-padding-left;
  }

  ul {
    margin-top: 0;
  }
}