/* HEADER STYLESHEET */

$background-color: rgba(48, 62, 72, 0.8);
$position: relative;
$height: 132px;
$width: 100%;
$z-index: 1;

header {
  background-color: $background-color;
  position: $position;
  height: $height;
  width: $width;
  z-index: $z-index;

  .main-nav,
  .logo {
    margin-top: 40px;
    text-transform: uppercase;
  }

  .main-nav li {
    display: inline;
    padding-left: 10px;
  }
}