/* CONTENT STYLESHEET */

@import "variables";

.content {
  .row {
    .full-width {
      margin-top: $content-margin-top;
    }
  }
}

.learn-more-btn {
  width: 161px;
  clear: both;
  background-color: #303e48;
  padding: 18px;
  color: #fff;
  text-transform: uppercase;
  font-size: 0.95rem;
  height: 53px; }
.learn-more-btn span {
  font-size: 0.95rem; }