/* CONTENT STYLESHEET */

@import "variables";

.content {
  overflow: hidden;

  .row {

    .full-width {

      margin-top: $content-margin-top;

    }
  }

  // Single.php

  .top-title {

    background-image: url("../../../images/background-pictures-13.jpg");
    .title {
      color: #fff;
      padding: 50px 0;
    }
  }

  .post {
    color: #000;

    .content {
      background-color: #fff;
      padding-top: 48px;

      .sidebar {
        .author,
        .details {
          border-bottom: 1px solid #bcbcbc;
          padding: 20px 0;
        }

        .author {
          font-size: 1.25rem;
          padding-top: 0;
          .name {
            color: #ffc425;
          }
        }

        .share-print {
          padding: 20px 0;



          }
        }
      }

      .post-text {
        font-size: 1.25rem;
        font-family: "Georgia";
      }
    }

  }


.learn-more-btn {

  background-color: $learn-more-background-color;
  padding: $learn-more-padding;
  color: $learn-more-color;
  text-transform: $learn-more-text-transform;
  font-size: $learn-more-font-size;
  width: $learn-more-width;

  span {

    font-size: $learn-more-span-font-size;

  }

}
