// CONTENT STYLESHEET

@import "variables";

.content {
  overflow: hidden;

  .row {

    .full-width {

      margin-top: $content-margin-top;

    }
  }
}


.learn-more-btn {

  background-color: $learn-more-background-color;
  padding: $learn-more-padding;
  color: $learn-more-color;
  text-transform: $learn-more-text-transform;
  font-size: $learn-more-font-size;
  width: $learn-more-width;
  padding-right: 30px;

  span {

    position: absolute;
    height: 20px;
    width: 20px;
    margin-left: 5px;
    background-repeat: no-repeat;
    background-image: url("../../images/white_chevons.svg");

  }

}
