/* FOOTER STYLESHEET */


@import "variables";

footer {
  .container {
    background-color: $container-background-color;
    height: $container-height;
  }


  li {
    display: inline;
    padding-left: $li-padding-left;
  }

  ul {
    margin-top: 0;
  }
}