/* FOOTER STYLESHEET */

$container-background-color: #fff;
$container-height: 263px;
$li-padding-left: 10px;

footer {
  .container {
    background-color: $container-background-color;
    height: $container-height;
  }


  li {
    display: inline;
    padding-left: $li-padding-left;
  }

  ul {
    margin-top: 0;
  }
}