/* HEADER STYLESHEET */

@import "variables";
@import "compass/css3/border-radius";

/* HEADER MENU */

header {
  background-color: $header-background-color;
  position: $header-position;
  height: $header-height;
  width: $header-width;
  z-index: $header-z-index;

  .main-nav,
  .logo {

    text-transform: $header-mainnav-text-transform;
  }


  .logo {
    img {

      margin-top: $header-image-margin;

    }
  }

  .main-nav {
    margin-top: $header-mainnav-margin-top;

    li {
      display: inline;
      padding: $header-mainnav-li-padding;
      position: relative;

      &:last-child {
        border-left: $header-mainnav-lilastchild;
      }
      
      &:hover {
        > .sub-menu {
          display: block;
          position: absolute;
          left: $header-mainnav-lihover-submenu-left;
          padding-left: $header-mainnav-lihover-submenu-padding-left;
          background-color: $header-mainnav-lihover-submenu-background-color;
          top: $header-mainnav-lihover-submenu-top;
          width: $header-mainnav-lihover-submenu-width;

          li {
            border-left: none;
            padding: 0;

            a {
              color: #000;
            }
          }
        }
      }

      .sub-menu {
        display: none;
        min-height: 300px;
      }

      a {
        color: $header-menu-color;
        text-decoration: $header-menu-decoration;
        font-family: $header-menu-font-family;
      }
    }
  }
}


/* HEADER BREAKPOINTS */

@media (max-width: 1200px ) {

  header {
    .main-nav {

      li {

        &:hover {
          > .sub-menu {
            left: $header-mainnav-lihover-submenu-left + 67px;
            width: $header-mainnav-lihover-submenu-width - 200px;

          }
        }
      }
    }
  }
}

@media (max-width: 992px ) {

  header {
    .main-nav {

      li {

        &:hover {
          > .sub-menu {
            left: $header-mainnav-lihover-submenu-left + 140px;
            width: $header-mainnav-lihover-submenu-width - 420px;

          }
        }
      }
    }
  }
}

@media (max-width: $breakpoint-tablet) {
  header {
    .nav-toggle {
      width: 40px;
      height: 40px;
      padding: 0;
      float: right;
      margin-top: 70px;

      .icon-bar {
        height: 10px;
        width: 100%;
        background-color: red;
        margin: 2px;
        border: 2px solid red;
        border-radius: 10px;
      }
    }
  }
}
