// HEADER STYLESHEET

@import "variables";
@import "../vendor/compass/css3/border-radius";

// HEADER MENU

$header-image-margin: 40px;


header {
  background-color: rgba(48, 62, 72, 0.9);
  position: absolute;
  height: 132px;
  width: 100%;
  z-index: 1;

  .logo {
    float: left;
    text-transform: uppercase;

    img {
      width: 230px;
    }
  }

  .navigation {
    margin-top: 35px;

    .main-nav {
      margin-top: 10px;
      padding-right: 20px;
      text-transform: uppercase;
      float: right;
    }
  }

  .search {
    position: relative;

    .search-ico {
      background-image: url("../../images/search_gray.svg");
      position: absolute;
      right: 0;
      width: 20px;
      height: 20px;
      cursor: pointer;
      margin-top: 10px;

      &:hover {
        background-image: url("../../images/search_yellow.svg");
      }
    }
    .search-input {
      position: absolute;
      right: 0;
      top: 40px;
      display: none;
      color: #000;
      float: right;
      padding-left: 20px;
      width: 272px;
      height: 40px;
      background-color: #fff;
      border: 1px solid #c2c2c2;
    }
  }
  .display-on {
    display: block !important;
    position: absolute;
    top: 80px;
    width: 100%;
    left: 0;
  }

  .mobile-nav {
    .nav-toggle {
      cursor: pointer;
      width: 50px;
      padding: 0;
      float: right;

      .separator {
        height: 100%;
        width: 100%;
        padding-left: 10px;
        border-left: 2px solid #fff;

        .icon-bar {
          height: 4px;
          background-color: #fff;
          margin-top: 5px;

        }

        &:hover .icon-bar {
          background-color: #c2c2c2;
        }
      }
    }
  }
}


// HEADER BREAKPOINTS

@media (max-width: map-get($grid-breakpoints, xl) ) {

  header {
    .main-nav {

      li {

        //&:hover {
        //  > .sub-menu {
        //    left: $submenu-left + 67px;
        //    width: $submenu-width - 200px;
        //
        //  }
        //}
      }
    }
  }
}

@media (min-width: map-get($grid-breakpoints, lg) ) {
  header {
    .navigation {

      .main-nav {

        #nav{
          > li:not(:last-child) {
            a{
              position: relative;
              z-index: 2;
            }

            &:hover{
              &:before,
              &:after,
              & > a:before,
              & > a:after {
                position:absolute;
                width:5px;
                height: 5px;
                border-color: #fff;
                border-style: solid;
                content: ' ';
              }
              &:before {
                top:-3px;
                left:5px;
                border-width: 2px 0 0 2px
              }
              &:after {
                bottom: -3px;
                left: 5px;
                border-width: 0 0 2px 2px
              }
              & > a:after {
                bottom:-3px;
                right:-10px;
                border-width: 0 2px 2px 0
              }
              & > a:before {
                top:-3px;
                right:-10px;
                border-width: 2px 2px 0 0
              }
            }
          }
        }

        li {
          display: inline;
          padding: $main-nav-li;
          position: relative;


          &:last-child {
            border-left: 1px solid #fff;

            a {
              color: #57656e;

            }
          }

          &:hover {

            > .sub-menu {
              display: block;
              position: absolute;
              padding: 10px 0 0;
              left: 0;
              top: 1rem;
              margin-top: -3px;


              li {
                border-left: none;
                background-color: #ffc425;
                padding: 5px 10px;
                display: block;

                &:hover {
                  background-color: #ffb41a;
                }

                a {
                  color: #fff;
                  font-size: 1rem;
                  font-family: "Avenir Next";
                }
              }
              .sub-menu {
                left: 100%;
                top: 0;
                margin-top: 0;
              }
            }
          }

          .sub-menu {
            display: none;
          }

          a {
            color: $color;
            text-decoration: none;
            font-family: "Montserrat";
            font-size: 0.875rem;
          }
        }
      }
    }

  }
}

@media (max-width: map-get($grid-breakpoints, lg) ) {

  header {

    .navigation {
      .main-nav {

        padding-right: 0;
        #nav {
          margin-top: 42px;
          float: right;
          min-width: 200px
        }
        li {
          display: block;
          padding: 5px 0 5px 15px;
          position: relative;
          background-color: #ffc425;

          &:hover {
            background-color: #ffb41a;
          }

          .sub-menu {
            border-top: 1px solid #ffb41a;
            border-bottom: 1px solid #ffb41a;
            display: none;
            padding-left: 0;
          }

          .expand {
            position: absolute;
            right: 15px;
            top: 0px;
            font-size: large;
            font-weight: bold;
          }

          a.expanded {
            color: #57656e;
          }

          a {
            color: $color;
            text-decoration: none;
            font-family: "Montserrat";
            font-size: 0.875rem;
          }
        }
      }
    }

    .search {

      .search-ico {

        display: block;
        position: relative;
        float: right;
        margin-right: 15px;
        margin-top: 5px;
      }


    }
  }
}

@media (max-width: map-get($grid-breakpoints, md) ) {
  header {

  }
}
