// MAIN STYLESHEET


@import "variables";

@font-face {
  font-family: Avenir Next;
  src: ("../../font/AvenirNextLTPro-Regular.otf");
}


body {
  font: $font-stack;
  color: $color;
  background-image: url("../../images/background.png");
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  background-size: cover;
  background-color: $main-background-color;
}

a {
  color: #000;

  &:hover {
    color: #000;
    text-decoration: none;
  }
}

.slick-slider {
  margin-bottom: 0 !important;
}