/* MAIN STYLESHEET */


@import "variables";


body {
  font: $font-stack;
  color: $color;
  background-image: url("../images/background.png");
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  background-size: cover;
  background-color: $main-background-color;
}

.pull-left {
  float: left;
}

.pull-right {
  float: right;
}