// SEARCH PAGE STYLESHEET

@import "variables";

.search-content {
  .container-fluid {
    padding-top: 200px;
    background-image: url("../../images/image-2.png");

    .container {
      background-color: #fff;
      color: #000;
    }
  }

}