// Single.php

.content {
  .post {
    >.container {
      background-color: #fff;
      margin-top: -344px;
      color: #000;
    }

    .top {

      >div {
        -webkit-background-size: cover;
        background-size: cover;
      }
    }
  }

}