// Single.php

.content {
  .post {
    >.container {
      background-color: #fff;
      margin-top: -344px;
      color: #000;

      .left {
        padding-left: 32px;

      }

      .right {
        padding-left: 51px;
        padding-right: 37px;

      }
    }

    .top {

      >div {
        -webkit-background-size: cover;
        background-size: cover;
      }
    }
  }

}