.team-module {
  padding-top: 200px;
  color: #000;

  .persons {
    background-color: #464646;
    min-height: 600px;
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
    align-items: center;
    -webkit-justify-content: center;
    justify-content: center;
    /* You can set flex-wrap and flex-direction individually */
    -webkit-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    /* Or do it all in one line with flex flow */
    -webkit-flex-flow: row wrap;
    flex-flow: row wrap;
    /* tweak the where items line up on the row */
    /* valid values are: flex-start, flex-end, space-between, space-around, stretch */
    -webkit-align-content: flex-end;
    align-content: flex-end;

    .person {
      background-color: #fff;
      display: inline-block;
      width: 25%;
      padding: 30px 15px;
      position: relative;

      div {
        padding: 15px;
        background-color: #fff;
      }

      .picture {
        img {
          width: 100%;

        }
      }

      .description {
        padding-top: 20px;
        min-height: 50px;

      }

      .expand {
        position: absolute;
        bottom: 10px;
        color: #0e90d2;
        cursor: pointer;

      }
    }
  }

  .team-desc {
    display: none;
    background-color: red;

  }
}