// VARIABLES

// BREAKPOINTS

$breakpoint-tablet: 768px;
$breakpoint-mobile: 544px;


// MAIN STYLESHEET

$font-stack: Helvetica, sans-serif;
$main-background-color: #ecf3ef;
$color: #fff;
$bgc: #fff;
$logo-margin: 25px;

// Main nav li

$main-nav-li: 0 15px;

// Main sub-menu

$submenu-left: -522px;
$submenu-padding: 15px;
$submenu-bgc: #fff;
$submenu-top: 75px;
$submenu-width: 1140px;

// CONTENT STYLESHEET

$content-margin-top: 0;


// LEARN MORE BUTTON

$learn-more-background-color: #303e48;
$learn-more-padding: 18px;
$learn-more-color: #fff;
$learn-more-text-transform: uppercase;
$learn-more-font-size: 0.95rem;
$learn-more-span-font-size: 0.95rem;
$learn-more-width: auto;

// FOOTER STYLESHEET

$container-background-color: #fff;
$container-height: 263px;
$li-padding-left: 10px;