/* VARIABLES */

/* BREAKPOINTS */

$breakpoint-tablet: 768px;
$breakpoint-mobile: 544px;


/* MAIN STYLESHEET */

$font-stack:    Helvetica, sans-serif;
$primary-color: #333;
$background-image: url("../images/background.png");
$background-size: cover;
$main-background-color: #ecf3ef;

/* HEADER MENU */

$header-background-color: rgba(48, 62, 72, 0.8);
$header-position: relative;
$header-height: 132px;
$header-width: 100%;
$header-z-index: 1;
$header-image-margin: 40px;

$header-menu-color: #fff;
$header-menu-decoration: none;
$header-menu-font-family: "Montserrat";

// Main nav, logo

$header-mainnav-text-transform: uppercase;

// Main nav

$header-mainnav-margin-top: 62px;

// Main nav li

$header-mainnav-li-padding: 0 15px;

// Main nav li:last-child

$header-mainnav-lilastchild: 1px solid red;




/* CONTENT STYLESHEET */

$content-margin-top: 15px;


/* LEARN MORE BUTTON */

$learn-more-width: 161px;
$learn-more-background-color: #303e48;
$learn-more-padding: 18px;
$learn-more-color: #fff;
$learn-more-text-transform: uppercase;
$learn-more-font-size: 0.95rem;
$learn-more-height: 53px;

$learn-more-span-font-size: 0.95rem;

/* FOOTER STYLESHEET */

$container-background-color: #fff;
$container-height: 263px;
$li-padding-left: 10px;