/* VARIABLES */

/* HEADER MENU */

$background-color: rgba(48, 62, 72, 0.8);
$position: relative;
$height: 132px;
$width: 100%;
$z-index: 1;


$header-menu-color: #fff;
$header-menu-decoration: none;
$header-menu-font-family: "Montserrat";