@import "module-variables";
@import "theme-config";
@import "mixins/utils";

#{$module} {

  background-color: #e8e8e8;
  color: #000;
  padding-top: 60px;
  padding-bottom: 54px;
  border-bottom: 1px solid #c2c2c2;

  .left-part {

    text-transform: uppercase;

    .title {

      font-size: 28px;
      font-family: "Avenir Next Medium";

    }

    .description {
      font-size: 18px;
      font-family: "Arial";

    }
  }

  .contact-form {

    input, button, select, textarea {
      padding: 15px;
      width: 100%;
      border: none;
      font-family: 'Arial';
      height: 57px;

    }

    textarea {
      height: 137px;
      resize: none;

      &::-webkit-input-placeholder {
        color: #cbcbcb;

      }

      &::-moz-placeholder{
        color: #8e8e8e;

      }

    }

    input {
      &::-moz-placeholder{
        color: #8e8e8e;

      }
      &::-webkit-input-placeholder {
        color: #cbcbcb;

      }
    }

    select {
      font-size: 18px;
      color: #cbcbcb;

    }


    input[type="submit"] {
      color: #fff;
      background-color: #ffc600;
      border: none;

    }

    .submit-btn {
      &:before {
        content: '';
        position: absolute;
        right: 0;
        top: 19px;
        width: 20px;
        height: 20px;
        background-image: url($template-url + "/assets/images/white_chevons.svg");
        background-repeat: no-repeat;

      }
    }
  } // .contact-form

  @media (max-width: get($grid-breakpoints, sm) ) {
    margin-left: 2rem;
    margin-right: 2rem;

  }
} // module

