@import "module-variables";

.#{$module-name} {

  background-color: #e8e8e8;
  color: #000;
  padding-top: 60px;
  padding-bottom: 54px;
  border-bottom: 1px solid #c2c2c2;

  .left-part {

    text-transform: uppercase;

    .title {

      font-size: 28px;
      font-family: "Avenir Next";
    }

    .description {
      font-size: 18px;
      font-family: "Arial";
    }
  }

  .contact-form {

    div {
      border: 1px solid #000;
      margin-bottom: 5px;
      padding: 10px;
    }

    .submit {
      background-color: #ffc600;
      border: none;
      width: 100px;
      color: #fff;
    }
  }


}

