@import "module-variables";
@import "theme-config";
@import "mixins/utils";

#{$module} {

  background-color: #fff;
  padding-top: 72px;
  padding-bottom: 95px;
  border-bottom: 1px solid #c2c2c2;
  color: #000;

  .title {
    margin-bottom: 77px;
    padding: 0 66px;
    font-size: 32px;
    font-family: "Georgia";
    line-height: 1.156;
  }

  .first,
  .second,
  .third {

    img {
      margin-bottom: 47px;
      width: 25%;
    }

    h3 {
      font-size: 21px;
      font-family: "Avenir Next";
      text-transform: uppercase;
      margin-bottom: 48px;
    }

    p {
      font-size: 16px;
      font-family: "Arial";
    }
  }

  @each $id, $vars in $ids {
    &.#{$id} {
      // Style color under images

      .first {
        h3 {
          color: get($vars, first_title_color);
        }
      }
      .second {
        @include add('border-left',(get($vars,border) solid get($vars,border_color)));
        @include add('border-right',(get($vars,border) solid get($vars,border_color)));

        h3 {
          color: get($vars, second_title_color);
        }
      }
      .third {
        h3 {
          color: get($vars, third_title_color);
        }
      }
    }
  }
}


@media (max-width: get($grid-breakpoints, md) ) {

  #{$module} {
    .title {
      margin-bottom: 0;

    }

    .part {
      padding-top: 75px;
    }
  }
}

// sm = 544px
@media (max-width: get($grid-breakpoints, sm) ) {

  #{$module} {
    margin-left: 2rem;
    margin-right: 2rem;

    .title {
      padding: 0 32px - 15px;

    }


    @each $id, $vars in $ids {
      &.#{$id} {
        .second {
          border: none;

        }
      }
    }
  }
}

