@import "module-variables";

#{$module} {

  background-color: #fff;
  padding-top: 72px;
  padding-bottom: 95px;
  border-bottom: 1px solid #c2c2c2;
  color: #000;

  .title {
    margin-bottom: 77px;
    padding: 0 66px;
    font-size: 32px;
    font-family: "Georgia";
    line-height: 1.156;
  }

  .first,
  .second,
  .third {

    img {
      margin-bottom: 47px;
      width: 25%;
    }

    h3 {
      font-size: 21px;
      font-family: "Avenir Next";
      text-transform: uppercase;
      margin-bottom: 48px;
    }

    p {
      font-size: 16px;
      font-family: "Arial";
    }
  }

  @each $id, $vars in $ids {
    &.#{$id} {
      // Style color under images

      .first {
        h3 {
          color: map-get($vars, first_title_color);
        }
      }
      .second {
        h3 {
          color: map-get($vars, second_title_color);
        }
      }
      .third {
        h3 {
          color: map-get($vars, third_title_color);
        }
      }
    }
  }

}