@import "module-variables";

#{$module} {

  .row {

  background-color: #F5F5F5;


    #Horizon {
      height:400px;
      width:100%;

      div div div div {

        // Map transparency
        background-color: rgba(131, 135, 140, 0.2);
      }
    }
    .gm-style-iw * {
      display: block;
      width: 100%;
    }
    .gm-style-iw h4, .gm-style-iw p {
      margin: 0;
      padding: 0;
    }
    .gm-style-iw a {
      color: #4272db;
    }
  }
}

