@import "module-variables";
@import "vendor/compass/css3/user-interface";
@import "theme-config";
@import "mixins/utils";

$border-bottom: 2px solid #c2c2c2;


#{$module} {

  border-bottom: $border-bottom;
  margin-top: -259px;

  .tabs {
    .row {
      img {
        height: 100%;
        width: 100%;

      }

      .head {
        position: relative;
        background-color: #e5aa0e;
        height: 63px;
        display: flex;

        .title {
          background-color: #e5aa0e;
          flex: 1;
          display: flex;
          align-items: center;
          justify-content: center;
          cursor: pointer;
          transition: transform 2s;

          h2 {
            font-size: 1rem;
            font-weight: normal;
            font-family: "Arial";
            //padding: 16px 5px 8px;
            padding: 0;
            text-align: center;
            text-transform: capitalize;
            color: #896808;
            @include user-select(none);
            line-height: 1;
            padding-top: 0.625rem;

          }

          &.active {
            &:before {
              content: '';
              position: absolute;
              height: 10px;
              width: 100%;
              left: 0;
              top: -10px;
              background-color: #ffc425;

            }
          }

          &:hover {
            -webkit-transform: translateY(-10px);
            -ms-transform: translateY(-10px);
            -o-transform: translateY(-10px);
            transform: translateY(-10px);
            height: 83px;

            &:before {
              content: '';
              position: absolute;
              height: 10px;
              width: 100%;
              left: 0;
              top: -10px;
              background-color: #ffc425;
            }
          }

          &.active,
          &:hover {
            background-color: #ffc425;

            h2 {
              font-weight: bold;
              color: rgb(48, 62, 72);
              //padding: 12px 5px;

            }
          }
        }

        .navigation-arrows {
          display: none;
          position: absolute;
          right: 40px;
          top: -10px;

          .arrow {
            display: block;
            width: 2.2rem;
            cursor: pointer;
            @include user-select(none);

          }

          .navigation-up {
            margin-bottom: 5px;

          }
        }
      }

      .content {
        display: none;
        background-color: #fff;
        clear: both;
        position: relative;
        font-size: 1.8125rem;
        font-family: "Georgia";
        color: #787878;
        margin-bottom: 0;
        line-height: 2.3125rem;
        padding-bottom: 70px;

        .top {
          padding: 33px 32px 21px ;
          background-color: #e8e8e8;
          font-size: 1.8125rem;

          img {
            object-fit: cover;

          }
        }


        .left,
        .sidebar {
          font-size: 1.125rem;
          line-height: 1.9375rem;
          font-family: 'Arial';

        }

        .left {
          background-color: #fff;
          padding-top: 15px;

          .single-menu {
            color: #000;
            cursor: pointer;
            @include user-select(none);
            font-size: 1.125rem;
            padding: 0 12px;
            font-weight: bold;
            margin-bottom: 75px;

            &.active,
            &:hover {
              background-color: #303e48;
              color: #fff;

            }
          }

          .sub-menu-tabs {
            padding-left: 33px;
            padding-right: 0;

          }

          .left-inner {
            padding-left: 0;
            padding-right: 0;

            .sub-content {
              font-size: 1.125rem;
              line-height: 1.722;
              color: #303e48;
              font-family: sans-serif;
              color: #303e48;

              p, ul, h1, h2, h3, h4 {
                padding: 0 33px

              }

              ul {
                margin-left: 50px;
              }

              img {
                padding: 15px 10px;

              }

            //  Team page

              .team-module {

                .persons {
                  display: block;
                  float: left;

                  .person {
                    display: inline-block;
                    position: relative;
                    vertical-align: middle;
                    padding: 0;
                    float: none;

                    &.active {
                      background-color: #fafafa;
                    }

                    .picture {
                      padding: 0 15px;

                      img {
                        width: 100%;
                        padding: 0;
                        max-height: 330px;

                      }
                    }

                    .description {
                      min-height: 150px;
                      padding: 20px 15px 0 15px;

                      h2, p {
                        padding: 0;
                        font-size: 1.125rem;
                      }

                      h2 {
                        font-weight: bold;
                      }

                    }

                    .expand {
                      position: absolute;
                      bottom: 10px;
                      color: #0e90d2;
                      cursor: pointer;
                      padding: 0 15px 0 15px;
                      width: 100%;
                      @include user-select(none);

                    }
                  }
                }

                .team-desc {
                  display: none;
                  background-color: #fafafa;
                  float: left;
                  margin-bottom: 10px;

                  h2, p {
                    padding: 0 15px;

                  }

                  .person-desc {
                    padding: 0 15px 20px;
                    -webkit-box-shadow: 0px 10px 8px -5px rgba(0,0,0,0.75);
                    -moz-box-shadow: 0px 10px 8px -5px rgba(0,0,0,0.75);
                    box-shadow: 0px 10px 8px -5px rgba(0,0,0,0.75);

                  }
                }
              }
            }
          }
        }

        .sidebar {
          background-color: #d6d9db;
          color: #303e48;
          padding: 35px 26px;
          margin-top: -15px;

          h2 {
            font-family: 'Georgia';
            font-size: 1.6875rem;
            line-height: 2.3125rem;

          }

          img {
            padding-bottom: 25px;
            width: 25%;

          }

          h3 {
            font-size: 1.6875rem;
            line-height: 2.3125rem;
            font-family: 'Georgia';

          }

          ul {
            padding-left: 0;
            font-weight: 600;
            list-style: none;

          }
          ul li:before {
            content: ">";
            padding-right: 5px;

          }
        }
      }

      .active {
        display: block;

      }
    }
  }

  @each $id, $vars in $ids {
    &.#{$id} {
      .tabs {
        .row {
          .content {
            &.first {
              .top {
                @include add('background-color', get( $vars, first_tab_color ));
              }
            }

            &.second {
              .top {
                @include add('background-color', get( $vars, second_tab_color ));
              }
            }

            &.third {
              .top {
                @include add('background-color', get( $vars, third_tab_color ));
              }
            }

            &.fourth {
              .top {
                @include add('background-color', get( $vars, fourth_tab_color ));
              }
            }

          }
        }
      }
    }
  }
}


@media (max-width: map-get($grid-breakpoints, md) ) {

  #{$module} {
    .tabs {
      .row {
        .content {
          .left {
            padding: 35px 24px;

            .sub-menu {
              .content {
                padding-top: 40px;

              }
            }
          }

          .top{
            padding: 33px 22px 21px;

          }
        }
      }
    }
  }
}

@media (max-width: (map-get($grid-breakpoints, sm) - 1px) ) {

  #{$module} {
    border-bottom: none;

    .tabs {
      padding-left: 2rem;
      padding-right: 2rem;

      .row {
        .head {
          .title {
            justify-content: flex-start;

            &:not(.active) {
              display: none;
            }

            h2 {
              padding-top: 0;
            }

          }
          .navigation-arrows{
            display: block;

          }
        }
      }
    }
  }
}