@import "module-variables";
@import "vendor/compass/css3/user-interface";
@import "theme-config";

$border-bottom: 2px solid #c2c2c2;


#{$module} {

  border-bottom: $border-bottom;
  margin-top: -259px;

  .tabs {
    .row {
      .head {
        position: relative;
        background-color: #e5aa0e;
        height: 63px;

        .title {

          background-color: #e5aa0e;

          h2 {
            cursor: pointer;
            font-size: 1rem;
            font-weight: normal;
            font-family: "Arial";
            padding: 16px 5px 8px;
            text-align: center;
            text-transform: capitalize;
            min-height: 41px;
            line-height: 1.938;
            color: #896808;
            @include user-select(none);
            min-height: 55px;

          }

          &.active {
            background-color: #ffc425;

            h2 {
              font-weight: bold;
              color: rgb(48, 62, 72);
              padding: 12px 5px;

            }

            &:before {
              content: '';
              position: absolute;
              height: 10px;
              width: 100%;
              left: 0;
              top: -10px;
              background-color: #ffc425;

            }
          }
        }

        .navigation-arrows {
          display: none;
          position: absolute;
          right: 40px;
          top: -10px;

          .arrow {
            display: block;
            width: 2.2rem;
            cursor: pointer;
            @include user-select(none);

          }

          .navigation-up {
            margin-bottom: 5px;

          }

        }
      }

      .content {
        display: none;
        background-color: #fff;
        clear: both;
        width: 100%;
        position: relative;
        min-height: 210px;
        font-size: 1.8125rem;
        font-family: "Georgia";
        color: #787878;
        margin-bottom: 0;
        line-height: 2.3125rem;

        .top {
          padding: 33px 32px 21px ;
          background-color: #e8e8e8;
          font-size: 1.8125rem;

          img {
            object-fit: cover;
            height: 100%;
            width: 100%;

          }
        }


        .left,
        .sidebar {
          font-size: 1.125rem;
          line-height: 1.9375rem;
          font-family: 'Arial';

        }

        .left {
          background-color: #fff;
          padding: 35px 36px;

          .single-menu {
            color: #000;
            cursor: pointer;
            @include user-select(none);
            font-size: 1.125rem;
            padding: 0 12px;

            &.active {
              background-color: #303e48;
              color: #fff;

            }
          }

          .sub-menu-tabs {
            padding-left: 0;
            padding-right: 0;
          }

          .left-inner {
            padding-left: 0;
            padding-right: 0;

            .sub-content {
              font-size: 1.125rem;
              line-height: 1.722;

            }

            .content {
              color: #303e48;
              padding-top: 70px;

            }
          }
        }

        .sidebar {
          background-color: #d6d9db;
          color: #303e48;
          padding: 35px 26px;
          position: absolute;
          top: 0px;
          right: 0px;

          img {
            padding-bottom: 25px;
          }

          h3 {
            font-size: 1.6875rem;
            line-height: 2.3125rem;
            font-family: 'Georgia';
          }

          ul {
            padding-left: 0;
            font-weight: 600;
            list-style: none;
          }
          ul li:before {
            content: ">";
            padding-right: 5px;
          }
        }
      }

      .active {
        display: block;

      }

    }
  }

  @media (max-width: map-get($grid-breakpoints, md) ) {

    .tabs {
      .row {
        .content {
          .left {
            padding: 35px 24px;

            .sub-menu {
              .content {
                padding-top: 40px;

              }
            }
          }

          .top{
            padding: 33px 22px 21px;

          }
        }
      }
    }
  }

  @media (max-width: (map-get($grid-breakpoints, sm) - 1px) ) {
    border-bottom: none;

    .tabs {
      padding-left: 2rem;
      padding-right: 2rem;

      .row {
        .head {
          .title:not(.active) {
            display: none;

          }
          .navigation-arrows{
            display: block;

          }
        }
      }
    }
  }
}