@import "module-variables";

// Default values


#{$module} {
  padding-top: 48px;

  p {
    font-size: 1rem;
    font-family: "Arial";
    line-height: 1.625rem;

    &:first-child {
      font-size: 1.25rem;
      font-family: "Georgia";
    }

    strong {
      font-size: 1.25rem;
      font-family: "Georgia";
      line-height: 1.3;
    }
  }
}

