@import "module-variables";

.#{$module-name} {

  min-height: 100px;
  background-color: #fff;
  color: #000;
  border-bottom: 1px solid #c2c2c2;
  padding-top: 65px;
  margin-top: -259px;
  position: relative;
  min-height: 260px;

  .title {
    font-family: "Avenir Next";
    font-size: 2rem;
    text-transform: uppercase;
    margin-bottom: 43px;
  }

  .description {
    font-size: 1.815rem;
    font-family: "Georgia";
    margin-bottom: 58px;
  }

}

