.two_images-module {
  background-color: #fff;
  padding-top: 65px;
}

.two_images-module .half-part {
  min-height: 434px;
}

.two_images-module .half-part.rigth {
  background-image: url("../../../assets/images/image-right.png");
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  background-size: cover;
  border-bottom: 11px solid #0093bc;
}

.two_images-module .half-part h2.title {
  background-color: rgba(0, 75, 95, 0.8);
  margin-top: 86px;
  font-size: 36px;
  font-family: "Avenir Next";
  color: rgb(255, 255, 255);
  text-transform: uppercase;
  padding: 21px 25px 16px 25px;
}

.two_images-module .half-part p {
  margin-top: 78px;
  font-size: 32px;
  font-family: "Georgia";
  color: rgb(255, 255, 255);
  line-height: 1.156;
  margin-bottom: 20px;
}