@import "module-variables";

$border-bottom: 2px solid #c2c2c2;


#{$module} {

  border-bottom: $border-bottom;
  margin-top: -259px;

  .tabs {
    .row {
      .head {
        .title {

          h2 {

            font-size: 1rem;
            font-weight: bold;
            font-family: "Arial";
            padding: 12px 5px;
            text-align: center;
            color: #000;
            min-height: 41px;

          }

          background-color: #e5aa0e;

          &.active {
            background-color: #ffc425;

            &:before {
              content: '';
              position: absolute;
              height: 10px;
              width: 100%;
              left: 0;
              top: -10px;
              background-color: #ffc425;
            }
          }
        }
      }

      .content {
        display: none;
        background-color: #e8e8e8;
        clear: both;
        width: 100%;
        position: relative;
        min-height: 210px;

        p {
          font-size: 2em;
          font-family: "Georgia";
          padding: 33px;
          color: #787878;
          margin-bottom: 0;

        }
      }

      .active {
        display: block;

      }

    }
  }
}