@import "module-variables";
@import "vendor/compass/css3/user-interface";
@import "assets/stylesheets/scss/theme-config";

$border-bottom: 2px solid #c2c2c2;


#{$module} {

  border-bottom: $border-bottom;
  margin-top: -259px;

  .tabs {
    .row {
      .head {
        position: relative;

        .title {

          h2 {
            cursor: pointer;
            font-size: 1rem;
            font-weight: bold;
            font-family: "Arial";
            padding: 12px 5px;
            text-align: center;
            min-height: 41px;
            line-height: 1.938;
            color: rgb(48, 62, 72);
            @include user-select(none);

          }

          background-color: #e5aa0e;

          &.active {
            background-color: #ffc425;

            &:before {
              content: '';
              position: absolute;
              height: 10px;
              width: 100%;
              left: 0;
              top: -10px;
              background-color: #ffc425;
            }
          }
        }

        .navigation-arrows {
          display: none;
          position: absolute;
          right: 40px;
          top: 10px;

          .arrow {
            display: block;
            width: 10px;
          }

        }
      }

      .content {
        display: none;
        background-color: #e8e8e8;
        clear: both;
        width: 100%;
        position: relative;
        min-height: 210px;

        p {
          font-size: 1.8125em;
          font-family: "Georgia";
          padding: 33px;
          color: #787878;
          margin-bottom: 0;
          line-height: 1.276;

        }
      }

      .active {
        display: block;

      }

    }
  }

  @media (max-width: map-get($grid-breakpoints, sm) ) {
    .tabs {
      .row {
        .head {
          .title:not(.active) {
            display: none;
          }
          .navigation-arrows{
            display: block;
          }
        }
      }
    }
  }
}