@import "module-variables";


.#{$module-name} {


  -webkit-background-size: cover;
  background-size: cover;

  .transparency {
    background: linear-gradient(to bottom, rgba(255,255,255,0) 80%,rgba(236, 243, 239 ,1) 100%);
  }

  .slides {

    margin-top: -150px;

    .background {
      -webkit-background-size: cover;
      background-size: cover;
    }

    .container {
      padding-top: 135px + 142px;
      padding-bottom: 280px;
    }

    h2 {


      margin-bottom: 65px;
      background-color: #303e48;
      color: #fff;
      font-family: "Avenir Next";
      font-size: 2.25rem;
      padding: 15px;
      text-transform: uppercase;
      position: relative;
      font-weight: 300;
      clear: both;
      width: auto;

      span {

        font-weight: 600;
        position: relative;
        padding: 0 40px 0 25px;

        &:before {
          content: '';
          position: absolute;
          width: 181px;
          height: 196px;
          background-image: url("../../../../assets/images/square.png");
          left: -2px;
          top: -73px;
        }
      }

    }

    p {

      color: #fff;
      font-size: 2rem;
      font-family: "Georgia";
      clear: both;
      padding: 0;
      margin-bottom: 21px;

    }

    a {

      height: 53px;
      margin-bottom: 60px;

    }

    .learn-more-btn {

      width: 161px;
      clear: both;

    }
  }
}