@import "module-variables";
@import "mixins/compact";
@import "mixins/utils";
@import "mixins/background-opacity";
@import "vendor/compass/css3";
@import "theme-config";

// Default values
$h2_bgc: #303e48 !default;
$h2_color: #fff !default;

#{$module} {

  .transparency {
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 80%, rgba(236, 243, 239, 1) 100%);
  }

  .slides {

    .background {
      @include background-size(cover);
    }

    .container {
      padding-top: 135px + 142px;
      padding-bottom: 280px;

      h2 {
        margin-bottom: 65px;
        background-color: $h2_bgc;
        color: $h2_color;
        font-family: "Avenir Next";
        font-size: 2.25rem;
        padding: 15px;
        text-transform: uppercase;
        position: relative;
        font-weight: 300;
        clear: both;
        width: auto;

        span {
          font-weight: 600;
          position: relative;
          padding: 0 40px 0 25px;

          &:before {
            content: '';
            position: absolute;
            width: 181px;
            height: 196px;
            background-image: url($template-url + "/assets/images/blue_frame.svg");
            background-repeat: no-repeat;
            left: -2px;
            top: -67px;

          }
        }
      }

      p {
        color: #fff;
        font-size: 2rem;
        font-family: "Georgia";
        clear: both;
        padding: 0;
        margin-bottom: 21px;
      }

      a {
        height: 53px;
        margin-bottom: 60px;
        
        &:hover {
          color: #fff;
        }
      }

      .learn-more-btn {
        width: 161px;
        clear: both;
      }
    }
  }

  @each $id, $vars in $ids {
    &.#{$id} {
      // Styles for concrete module, by id

      .background {
        @for $i from 1 through length( get( $vars, slider-h2_bgc )) {
          &.slide-#{$i} {
            @include add('background-image', url( get( $vars, slider-image, $i )));

            .container {

              .learn-more-btn {
                @if get($vars, slider-btn_switch, $i) == yes {
                  display: block;
                  @include background-opacity(get($vars, slider-btn_color, $i), get($vars, slider-btn_opacity, $i));
                } @else {
                  display: none;
                }
              }

              h2 {
                @include background-opacity( get( $vars, slider-h2_bgc, $i ), get($vars, slider-h2_opacity, $i));
                @include add('color', get( $vars, slider-h2_color, $i ));
              }
            }
          }
        }
      }

      // END Styles for concrete module, by id
    }
  }

  // 544px
  @media (max-width: map-get($grid-breakpoints, sm) ) {
    .slides {
      .container {
        h2 {
          span {
            padding: 0;

            &:before {
              display: none;
            }
          }
        }
      }
    }
  }

}