@import "module-variables";
@import "mixins/background-opacity";

$margin-between: 1%;

#{$module} {
  background-color: #fff;
  padding-top: 65px;
  border-bottom: 1px solid #c2c2c2;
  padding-bottom: 75px;
  color: #fff;

  .full {
    min-height: 456px;
    background-position: center;
    -webkit-background-size: cover;
    background-size: cover;

    .title {
      background-color: rgba(255, 159, 41, 0.8);
    }
  }

  .half-part {
    min-height: 456px;
    background-position: center;
    -webkit-background-size: cover;
    background-size: cover;
    border-bottom: 12px solid;
    width: 50% - (2 * $margin-between);

    &.left {

      margin-right: $margin-between * 2;

      .title {
        //background-color: rgba(255, 159, 41, 0.8);
      }

    }

    &.right {
      border-color: #0093bc;
      margin-left: $margin-between * 2;

      .title {
        //background-color: rgba(0, 147, 188, 0.8);
      }
    }
  }

    .title {
      margin-top: 86px;
      padding: 21px 22px 16px 22px;
      font-size: 36px;
      font-family: "Avenir Next";
    }

    .description {
      margin-top: 78px;
      font-size: 32px;
      font-family: "Georgia";
    }


    @each $id, $vars in $ids {
      &.#{$id} {
        // Style for left background image


          .left,
          .full {
            background-image: url(map-get($vars, bg_left_image));
            border-bottom: map_get($vars, border_left_weight) solid map-get($vars, border_left_color);

            .title {
              @include background-opacity(map_get($vars, border_left_color), 50);
            }
          }

          .right {
            background-image: url(map-get($vars, bg_right_image));
            border-bottom: map_get($vars, border_right_weight) solid map_get($vars, border_right_color);

            .title {
              @include background-opacity(map_get($vars, border_right_color), 50);
            }
          }

      }
    }
  }


@media (max-width: 768px) {

    #{$module} {

      .half-part {
        width: auto;

        &.left,
        &.right {
          margin-right: 0;
          margin-left: 0;
        }
      }

    }
}