*~
.DS_Store
.svn
.cvs
*.bak
*.swp
Thumbs.db
.DS_Store

# large/disallowed file types
# a CDN should be used for these
*.hqx
*.bin
*.exe
*.dll
*.deb
*.dmg
*.iso
*.img
*.msi
*.msp
*.msm
*.kar
*.ra
*.mng
*.asx
*.asf

Thumbs.db
.cache
.project
.settings
.tmproj
*.esproj
*.sublime-workspace
*.sublime-project
_notes
dwsync.xmli
logs/*
*log
node_modules
.idea
*DS_Store
style.scssc
_base_config.scssc
_forms.scssc
_navigation.scssc
_page.scssc
.htaccess
