@import "module-variables";

// Default values


#{$module} {
  padding-top: 48px;
  font-family: "Georgia";
  font-size: 1.25rem;

  .author,
  .published {
    border-bottom: 1px solid #bcbcbc;
  }

  .author {
    padding-bottom: 20px;
    line-height: 1.3;
    .name {
      color: #ffc83f;

    }

    .description{

    }

  }

  .published,
  .share {
    font-size: 1rem;
    padding: 20px 0;
    color: #737373;
    line-height: 1;

  }

  .published {
    .text {
      font-weight: bold;
    }
  }

  .share {

    .print {
      cursor: pointer;
    }
    .social {
      cursor: pointer;
    }
    .social-toggle {
      display: none;
      margin-top: 15px;

      img {
        width: 20px;
      }
    }
  }


}

