@import "module-variables";

.#{$module-name} {
  min-height: 400px;
  background-color: #fff;
  padding-top: 65px;
  padding-bottom: 78px;
  color: #000;

  >.title {
    margin-bottom: 45px;
  }

  .news_insights {
    .category {
      display: inline;
      font-size: 20px;
      font-family: "Avenir Next";
      font-weight: bold;
      color: #fff;
      padding: 5px;

      &.invest {
        background-color: #0090bf;
      }

      &.manage {
        background-color: #ffa409;
      }
      
      &.assets {
        background-color: #76bd1d;
      }
    }

    .date {
      margin-top: 17px;
    }

    .title {
      font-size: 1.9rem;
      font-family: "Georgia";
    }
  }
}