@import "module-variables";

#{$module} {

  background-color: #e8e8e8;
  padding: 30px 0.9375rem;

  .single {
    background-color: #2c3842;
    border-right: 0.9375rem solid #e8e8e8;
    border-left: 0.9375rem solid #e8e8e8;
    padding: 20px;
    min-height: 200px;

    .title {
      font-size: 1.25rem;
      font-family: "Georgia";
      line-height: 1.156;
    }

    .description {
      font-size: 0.75rem;
      font-family: "Arial";
      line-height: 1.722;
    }
    
    .download {
      .ico {
        background-image: url($template-url + '/assets/images/pdf.png');
        background-repeat: no-repeat;
        height: 20px;
        width: 20px;
        position: absolute;
      }

      .text {
        padding-left: 30px;
      }
    }
  }
} // module

