/* SLIDER STYLESHEET */
/* SLIDER MAIN */

$min-height: 420px;
$background-color: transparent;

/* SLIDER H2 */

$h2-background-color: #303e48;
$h2-color: #fff;
$h2-width: auto;
$h2-padding: 15px;
$h2-font-size: 2.25rem;
$h2-font-family: "Avenir Next";
$h2-text-transform: uppercase;
$h2-position: relative;
$h2-font-weight: 300;

/* SLIDER SPAN */

$span-font-weight: 600;

/* SLIDER P */

$p-font-size: 2rem;
$p-font-family: "Georgia";


/* SLIDER A BUTTON */

$a-background: rgba(48, 62, 72, 0.8);
$a-padding: 18px;
$a-color: #fff;
$a-text-transform: uppercase;
$a-font-size: 0.95rem;

.slider-module {
  min-height: $min-height;
  background-color: $background-color;

  h2 {
    background-color: $h2-background-color;
    color: $h2-color;
    font-family: $h2-font-family;
    font-size: $h2-font-size;
    padding: $h2-padding;
    text-transform: $h2-text-transform;
    position: $h2-position;
    font-weight: $h2-font-weight;
  }

  span {
    font-weight: $span-font-weight;
  }

  p {
    color: $h2-color;
    font-size: $p-font-size;
    font-family: $p-font-family;
  }

  a {
    background-color: $a-background;
    padding: $a-padding;
    color: $a-color;
    text-transform: $a-text-transform;
    font-size: $a-font-size;
    height: 53px;

    span {
      font-size: $a-font-size;
    }
  }
}