/* SLIDER STYLESHEET */
/* SLIDER MAIN */

$min-height: 420px;
$background-color: transparent;

/* SLIDER H2 */

$h2-background-color: #303e48;
$h2-color: #fff;
$h2-width: auto;
$h2-padding: 15px;
$h2-font-size: 36px;
$h2-font-family: "Avenir Next";
$h2-text-transform: uppercase;
$h2-position: relative;

/* SLIDER P */

$p-font-size: 32px;
$p-font-family: "Georgia";
$p-width: 40%;

/* SLIDER A BUTTON */

$a-width: 40px;
$a-background: rgba(48, 62, 72, 0.8);
$a-padding: 10px;

.slider-module {
  min-height: $min-height;
  background-color: $background-color;

  h2 {
    background-color: $h2-background-color;
    color: $h2-color;
    //width: $h2-width;
    font-family: $h2-font-family;
    font-size: $h2-font-size;
    padding: $h2-padding;
    text-transform: $h2-text-transform;
    position: $h2-position;
  }

  p {
    color: $h2-color;
    font-size: $p-font-size;
    font-family: $p-font-family;
    //width: $p-width;
  }

  a {
    //width: $a-width;
    background-color: $a-background;
    padding: $a-padding;
  }
}