/* TEXT MODULE STYLESHEET */

$min-height: 120px;
$background-color: #fff;
$color: #000;

/* SLIDER A BUTTON */

$a-background: rgb(48, 62, 72);
$a-padding: 18px;
$a-color: #fff;
$a-text-transform: uppercase;
$a-font-size: 0.95rem;

$learn-more-width: 161px;
$learn-more-clear: both;


.text-module {

  min-height: $min-height;
  background-color: $background-color;
  color: $color;
  padding-top: 40px;
  padding-bottom: 51px;
  border-bottom: 12px solid #ffc425;

  p {
    font-family: 'Arial';
    line-height: 1.722;
  }

  .learn-more-btn {

    width: $learn-more-width;
    clear: $learn-more-clear;
    background-color: $a-background;
    padding: $a-padding;
    color: $a-color;
    text-transform: $a-text-transform;
    font-size: $a-font-size;
    height: 53px;

    span {

      font-size: $a-font-size;

    }
  }
}

