//
//    TEXT MODULE VARIABLES
//
//
//////////////////////////////////

$min-height: 120px;
$background-color: #fff;
$color: #000;

//  Slider a button

$a-background: rgb(48, 62, 72);
$a-padding: 18px;
$a-color: #fff;
$a-text-transform: uppercase;
$a-font-size: 0.95rem;

$learn-more-width: 161px;
$learn-more-clear: both;