@import "module-variables";
//
//    TEXT MODULE STYLESHEET
//
//
//////////////////////////////////

.text-module {

  min-height: $min-height;
  background-color: $background-color;
  color: $color;
  padding-top: 40px;

  .border {
    width: 100%;
    border-bottom: 12px solid #ffc425;
    padding-bottom: 51px;
  }

  p {
    font-family: 'Arial';
    line-height: 1.722;
  }

  .learn-more-btn {

    width: $learn-more-width;
    clear: $learn-more-clear;
    background-color: $a-background;
    padding: $a-padding;
    color: $a-color;
    text-transform: $a-text-transform;
    font-size: $a-font-size;
    height: 53px;

    span {

      font-size: $a-font-size;

    }
  }
}

