@import "module-variables";

@mixin background-opacity($color, $opacity: 0.3) {
  background: $color; /* The Fallback */
  background: rgba($color, $opacity);
}

#{$module} {

  background-color: #fff;
  color: #000;
  padding-top: 40px;

  .border {
    width: 100%;
    padding-bottom: 51px;
  }

  p {
    font-family: 'Arial';
    line-height: 1.722;
  }

  @each $id, $vars in $ids {
    &.#{$id} {
      // Styles for border in text module!

      @if map-get($vars, border_switch) == yes {
        //@include background-opacity(#333333, 0.5);

        .border {

          border-bottom: map-get($vars, border_weight) solid map-get($vars, border_color);
        }
      }
    }
  }

}

